{% extends "base.html.twig" %}

{% block title %}
Article {{ article.id }}
{% endblock %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.date | date('d/m/Y') }} à {{ article.date | date('H:i') }}</div>
        <div class="content">
            <img src={{ article.image }} alt="">
            <br>
            {{ article.content | raw }}
        </div>
        <hr>
        <a href="{{ path('edit', {'id':article.id}) }}" class="btn btn-primary">Modifier cet article</a>
        <hr>
    </article>

    <h1>Commentaires</h1>
    <hr>
    <section id="comments">
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }} <small>(le {{ comment.date | date('d/m/Y') }})</small>
                </div>
                <div class="col">
                    {{ comment.content }}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if app.user %}
        {{ form_start(commentForm) }}

        {{ form_row(commentForm.author, {'attr' : {'placeholder' : 'Votre pseudo', 'readonly' : 'readonly', 'value' : app.user.username }, 'label': 'Pseudo'}) }}

        {{ form_row(commentForm.content, {'attr' : {'placeholder' : 'Votre commentaire' }, 'label': 'Commentaire'}) }}

        <button type="submit" class="btn btn-success">
            Poster mon commentaire
        </button>
        {{ form_end(commentForm) }}
    {% else %}
        <a href="{{ path('login') }}" class="btn btn-success">Connectez-vous pour poster un commentaire</a>
    {% endif %}
    </section>
{% endblock %}